    .pagination a{
        margin: 0 10px;
    }
    .pagination button{
        padding: 10px;
        cursor: pointer;
    }

    .stretch {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        transition: padding .15s ease;
        cursor: pointer;
    }

    .stretch:hover {
        padding: 30px 50px;
    }

    .click {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        transition: padding .15s ease;
        cursor: pointer;
        margin: 10px 0;
    }

    .click:active {
        padding: 5px 10px;
    }

    .btns button {
        background-color: green;
        color: white;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        margin-right: 10px;
        transition: padding .15s ease;
        cursor: pointer;
    }

    .btns button:hover {
        padding:10px 30px ;
    }