    .amazon-link {
        color: rgb(0, 113, 133);
        cursor: pointer;
        transition: color .15s ease;
    }

    .amazon-link:hover {
        color: rgb(255, 164, 28);
    }

    .price {
        color: rgb(0, 118, 0);
        font-weight: bolder;
    }

    .cart {
        background-color: rgb(255, 216, 20);
        color: black;
        font-size: 18px;
        padding: 10px 40px;
        border: none;
        border-radius: 30px;
        margin-right: 10px;
        cursor: pointer;
        transition: opacity .15s ease;
    }

    .cart:hover {
        opacity: .7;
    }

    .cart:active {
        opacity: .4;
    }
    .buy {
        background-color: rgb(255, 164, 28);
        color: black;
        font-size: 18px;
        padding: 10px 40px;
        border: none;
        border-radius: 30px;
        cursor: pointer;
        transition: all .15s ease;
    }

    .buy:hover {
        background-color: rgb(221, 132, 0);
    }

    .buy:active {
        opacity: .7;
    }