.video-preview {
    width: 300px;
    display: inline-block;
    vertical-align: top;
    margin-right: 15px;
}

.search-bar {
    display: block;
}

.thumbnail {
    width: 300px;
    display: block;
}

.channel-picture,
.video-info {
    display: inline-block;
}

.channel-picture {
    width: 50px;
}

.channel-picture img {
    width: 50px;
}

.video-info {
    width: 200px;
}
